.media {
  display: flex;
  gap: 16px;

  &__icon {
    display: block !important;
  }
  &__mobile_icon {
    display: none !important;
  }

  @include sm {
    gap: 0;
    justify-content: space-between;
    max-width: 420px;

    &__icon {
      display: none !important;
    }
    &__mobile_icon {
      display: block !important;
    }
  }
}
